STUDY           {{ bioproject_accession }}
SAMPLE          {{ biosample_accession }}
ASSEMBLYNAME    {{ dataset_id }}.{{ assembly_version }}
ASSEMBLY_TYPE   clone or isolate
COVERAGE        {{ TODO }}
PROGRAM         {{ TODO }}
PLATFORM        {{ long_read_format }}
MOLECULETYPE    genomic DNA
DESCRIPTION     {{ TODO }}
FASTA           {{ TODO }}
MINGAPLENGTH    100
RUN_REF         {{ err_accessions }}
CHROMOSOME_LIST ./chr_list_hap1_curated.tsv.gz