assembly:
  assem_level: scaffold
  assem_version: {{ assembly_version }}
  sample_id: {{ dataset_id }}
  latin_name: {{ scientific_name }}
  defined_class: Lepidosauria
  project_id: AToL
reference_file: rSaiEqu1/rSaiEqu1_both_haps.fa.gz
map_order: length
assem_reads:
  read_type: hifi
  read_data:
    - results/qc/reads/PACBIO_SMRT/350822_AusARG_AGRF_DA080843.fasta.gz
    - results/qc/reads/PACBIO_SMRT/350822_AusARG_AGRF_DA095606.fasta.gz
  supplementary_data: path
hic_data:
  hic_cram:
    - results/qc/reads/Hi-C/353997_AusARG_BRF_HMGMJDRXY.cram
  hic_aligner: bwamem2
kmer_profile:
  # kmer_length will act as input for kmer_read_cov fastk and as the name of folder in profile_dir
  kmer_length: 31
  profile: results/genomeassembly/rSaiEqu1v1/rSaiEqu1.v1
self_comp:
  motif_len: 0
intron:
  size: "50k"
telomere:
  teloseq: TTAGGG
synteny:
  - /path/to/synteny.fasta
busco:
  lineages_path: /scratch/pawsey1132/atims/busco/
  lineage: sauropsida_odb10
alignment:
  genesets:
    - /path/to/genesets.csv