Initial assembly{% if is_phased %} and Hi-C scaffolding{% endif %} with the sanger-tol/genomeassembly pipeline (https://doi.org/10.5281/zenodo.21994975) and decontamination with the sanger-tol/ascc pipeline (https://doi.org/10.5281/zenodo.20794133).

