{%- for at in assembly_types %}
- id: {{ dataset_id }}.{{ at.name }}
  assembler: "{{ at.assembler }}"
  long_read_dataset: {{ dataset_id }}
  long_read_platform: {{ at.long_read_platform }}
{%- if at.is_phased %}
  hic_dataset: {{ dataset_id }}
  phased_assembly: true
  purge: false
{%- endif %}
{%- if at.is_purged %}
  purge: true
{%- endif %}
{%- if at.busco_lineage %}
  busco_lineage: {{ at.busco_lineage }}
{%- endif %}
{%- if at.assembler == "hifiasm" %}
  find_mito: {{ at.find_mito | lower }}
  find_plastid: {{ at.find_plastid | lower }}
{%- endif %}
{%- if at.mitohifi_mito_genetic_code %}
  mitohifi_mito_genetic_code: {{ at.mitohifi_mito_genetic_code }}
{%- endif %}
{%- if at.mitohifi_reference_species %}
  mitohifi_reference_species: "{{ at.mitohifi_reference_species }}"
{%- endif %}
{%- if at.oatk_mito_hmm %}
  oatk_mito_hmm: {{ at.oatk_mito_hmm }}
{%- endif %}
{%- if at.oatk_plastid_hmm %}
  oatk_plastid_hmm: {{ at.oatk_plastid_hmm }}
{%- endif %}
{%- endfor %}