assembly:
  assem_level: scaffold
  assem_version: {{ assembly_version }}
  sample_id: {{ dataset_id }}
  latin_name: {{ scientific_name }}
  defined_class: {{ defined_class }}
  project_id: AToL
reference_file: ${PWD}/{{ treeval_reference_file }}
map_order: length
assem_reads:
  read_type: {{ ascc_long_read_platform }}
  read_data:
{%- for reads in treeval_long_reads %}
    - ${PWD}/{{ reads }}
{%- endfor %}
  supplementary_data: path
hic_data:
  hic_cram:
{%- for path in hic_reads %}
    - ${PWD}/{{ path }}
{%- endfor %}
  hic_aligner: bwamem2
kmer_profile:
  # kmer_length will act as input for kmer_read_cov fastk and as the name of folder in profile_dir
  kmer_length: 31
  profile: ${PWD}/{{ treeval_kmer_profile }}
self_comp:
  motif_len: 0
intron:
  size: "50k"
telomere:
  teloseq: TTAGGG
synteny:
  - /path/to/synteny.fasta
busco:
  lineages_path: ${PWD}/resources/staging/busco
{%- if busco_odb12_dataset_name %}
  lineage: {{ busco_odb12_dataset_name }}_odb12
{%- elif busco_odb10_dataset_name %}
  lineage: {{ busco_odb10_dataset_name }}_odb10
{%- endif %}
alignment:
  genesets:
    - /path/to/genesets.csv