{%- if hic_reads %}
- id: {{ dataset_id }}.phased
  hic_dataset: {{ dataset_id }}
  phased_assembly: true
  purge: false
{%- else %}
- id: {{ dataset_id }}.purged
  purge: true
{%- endif %}
  assembler: "hifiasm"
  busco_lineage: {{ busco_lineage }}_odb12
  find_mito: true
  find_plastid: true
  long_read_dataset: {{ dataset_id }}
  long_read_platform: {{ genomeassembly_long_read_platform }}
  mitohifi_mito_genetic_code: {{ mito_code }}
  mitohifi_reference_species: "Rhynchosporium commune" # TODO
{%- if pacbio_reads %}
{%- if mito_hmm_name or plastid_hmm_name %}
- id: {{ dataset_id }}.oatk
  assembler: "oatk"
  long_read_dataset: {{ dataset_id }}
  long_read_platform: pacbio_hifi
{%- if mito_hmm_name %}
  oatk_mito_hmm: https://github.com/c-zhou/OatkDB/raw/main/v20230921/{{mito_hmm_name}}.fam
{%- endif %}
{%- if plastid_hmm_name %}
  oatk_plastid_hmm: https://github.com/c-zhou/OatkDB/raw/main/v20230921/{{plastid_hmm_name}}.fam
{%- endif %}
{%- endif %}
- id: {{ dataset_id }}.mitohifi
  assembler: "mitohifi"
  long_read_dataset: {{ dataset_id }}
  long_read_platform: pacbio_hifi
  mitohifi_mito_genetic_code: {{ mito_code }}
  mitohifi_reference_species: "Rhynchosporium commune" # TODO
{%- endif %}
